*.exe
*.obj
*.tlog
*.log
*.o
*.VC.db
*.db-shm
*.suo
*.ipch
*.opensdf
*.sdf
*.svn-base
*.cache
*.cache
*.pdb
*.lib
*.cmake
CMakeCache.txt
.vs/
_Old/
sdks/ezraknet/build/CMakeFiles/*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.suo
*.VC.db
*.VC.VC.opendb
*.user
x64/
x86/
Win32/
*.dir/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.ilk
Debug/client.ilk
Debug/client.pdb
sdks/CryptoPP/cryptlib.Build.CppClean.log
sdks/CryptoPP/cryptlib.lib
sdks/CryptoPP/cryptlib.log
sdks/CryptoPP/cryptlib.pch
sdks/ezsquirrel/build/sqstdlib.lib
sdks/ezsquirrel/build/squirrel.lib
